Language: Cpp

DisableFormat: false

IndentWidth: 4

MaxEmptyLinesToKeep: 1

NamespaceIndentation: None

SpaceBeforeAssignmentOperators: true

SpacesBeforeTrailingComments: 1

SpacesInContainerLiterals: true

SpacesInSquareBrackets: true

Standard: c++11

TabWidth: 4

UseTab: Never
