# Build results
bin/

# Build files
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/

# Jetbrains IDEs
.idea/

# Generated shaders
src/shaders/generated/

# Android demo assets
demo/android-gles/app/src/main/assets/
demo/android-vulkan/app/src/main/assets/
