# Build results
bin/

# Jetbrains IDEs
.idea/

# CLion outputs
cmake-build-debug
cmake-build-release

# NDK outputs
ndk/obj

# Android demo
demo/android/app/src/main/cpp/demo/
demo/android/app/src/main/cpp/lib/
demo/android/app/src/main/cpp/src/
demo/android/app/src/main/cpp/thrid_party/
