# Build results
bin

# Build files
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo

# Jetbrains IDEs
.idea

# NDK outputs
ndk/obj

# Generated shaders
src/shaders/minified

# Android demo
demo/android/app/src/main/cpp/demo
demo/android/app/src/main/cpp/lib
demo/android/app/src/main/cpp/src
demo/android/app/src/main/cpp/thrid_party
